# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/apps/build/
/common/build/
/docs/build/

/node_modules/

# JVM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/
